body {
    background-image: url("/images/nebula.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.card {
    background: #fff;
    color: #000;
}
.content {
    background: transparent;
}