body {
  background: #eee;
}
.footer {
  width: 100%;
  flex: none;
  background-color: #f5f5f5;
}
nav, .jumbotron {
  background: #790e8b;
}
.content {
  background: #eee;
}
/* https://material.io/color/#!/?view.left=0&view.right=0&secondary.color=7B1FA2&primary.color=ab47bc */