body {
  background: #eee;
}
.application--light {
    background: #fafafa;
}

footer > div > a {
  color: #bdbdbd;
}

.glaucium .toolbar__logo_text {
    position: relative;
    text-decoration: none;
}

.glaucium .toolbar__logo_text > img {
    margin-top: 16px;
}

.glaucium a {
    color: #fff;
}

/* https://material.io/color/#!/?view.left=0&view.right=0&secondary.color=7B1FA2&primary.color=ab47bc */