[Unit]
Description=Meow
Documentation=man:glaucium-webapp(8)
After=network.target

[Service]
User=glaucium
Type=simple
ExecStart=/usr/bin/glaucium-webapp
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target