#!/usr/bin/make -f

PKGDIR=debian/glaucium

override_dh_fixperms:
	dh_fixperms -Xetc/glaucium/

override_dh_install:
	mkdir -p $(PKGDIR)/usr/share/glaucium/webapp/data/
	cp -r data/webapp/* $(PKGDIR)/usr/share/glaucium/webapp/data/

	mkdir -p $(PKGDIR)/usr/bin/glaucium/breakpad/
	cp -r vendor/breakpad/* $(PKGDIR)/usr/bin/glaucium/breakpad/

	mkdir -p $(PKGDIR)/usr/bin/
	cp bazel-bin/cmd/webapp/glaucium-webapp $(PKGDIR)/usr/bin/
	cp bazel-bin/cmd/collector/glaucium-collector $(PKGDIR)/usr/bin/
	cp bazel-bin/cmd/processor/glaucium-processor $(PKGDIR)/usr/bin/

	mkdir -p $(PKGDIR)/etc/glaucium/
	cp -r data/etc/glaucium/* $(PKGDIR)/etc/glaucium/

	dh_install

override_dh_installinit:
	dh_systemd_enable -pglaucium --name=glaucium-processor glaucium-processor.service
	dh_systemd_enable -pglaucium --name=glaucium-webapp glaucium-webapp.service
	dh_systemd_enable -pglaucium --name=glaucium-collector glaucium-collector.service
	dh_installinit -pglaucium --no-start --noscripts
	dh_installinit -pglaucium --no-start --noscripts
	dh_installinit -pglaucium --no-start --noscripts
	dh_systemd_start -pglaucium --no-restart-on-upgrade
	dh_systemd_start -pglaucium --no-restart-on-upgrade
	dh_systemd_start -pglaucium --no-restart-on-upgrade

%:
	dh $@ --with=systemd

