
    <div class="card-deck">
        <div class="card text-center">
            <div class="card-header">
                Featured
            </div>
            <div class="card-block">
                <h4 class="card-title">Crash Stats past 7 days</h4>
                <canvas id="crash-stat-chart-7days" class="container"></canvas>
            </div>
            <a id="7-day-reports-card-view-reports" class="btn btn-primary">View Reports</a>
        </div>
        <div class="card text-center">
            <div class="card-header">
                Featured
            </div>
            <div class="card-block">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
        <div class="card text-center">
            <div class="card-header">
                Featured
            </div>
            <div class="card-block">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
    </div>