<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
    <link rel="icon" type="image/jpeg" href="/images/icon.jpg" />
    <title>Glaucium - {{title}}</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
    <link href="/css/vuetify.min.css" rel="stylesheet" type="text/css">
    <script src="/js/vue.min.js"></script>
    <script src="/js/vuetify.min.js"></script>
    <link href="/css/style.css" rel="stylesheet">
    {{#if extra_css }}
      <link href="/css/{{extra_css}}" rel="stylesheet">
    {{/if}}
</head>
<body>
    <v-app id="app">
      <v-toolbar class="secondary">
         <v-toolbar-side-icon></v-toolbar-side-icon>
        <v-toolbar-title class="hidden-sm-and-down">Glaucium</v-toolbar-title>
        <v-toolbar-items class="hidden-md-and-down">
          <v-toolbar-item ripple>Link</v-toolbar-item>
          <v-toolbar-item ripple>Link</v-toolbar-item>
          <v-toolbar-item ripple>Link</v-toolbar-item>
        </v-toolbar-items>
        <v-text-field prepend-icon="search" xs3 label="Search..." hide-details single-line dark></v-text-field>
      </v-toolbar>
      <main>
        <v-content>
          <v-container fluid class="ma-4">
              {{ yield }}
            </v-container>
        </v-content>
      </main>
      <v-footer>
        <div class="text-xs-right">© 2016</div>
      </v-footer>
    </v-app>
    <script src="/js/moment.min.js"></script>
    <script src="/js/Chart.bundle.min.js"></script>
    {{#if extra_js }}
    <script src="/js/{{extra_js}}"></script>
    {{else}}
    <script src="/js/default_app.js"></script>
    {{/if}}
</body>
</html>