<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
    <link rel="icon" type="image/jpeg" href="/images/icon.jpg" />
    <title>Glaucium - {{title}}</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
    <link href="/css/vuetify.min.css" rel="stylesheet" type="text/css">
    <script src="/js/vue.min.js"></script>
    <script src="/js/vuetify.min.js"></script>
    <link href="/css/style.css" rel="stylesheet">
    {{#if extra_css }}
      <link href="/css/{{extra_css}}" rel="stylesheet">
    {{/if}}
</head>
<body>
    <v-app id="app">
      <v-toolbar class="secondary">
        <v-toolbar-title class="hidden-sm-and-down"><a href="/">Glaucium</a></v-toolbar-title>
        <v-btn icon class="white--text text--lighten-2" id="search_btn">
          <v-icon>search</v-icon>
        </v-btn>
        <v-text-field xs3 label="Search..." hide-details single-line dark></v-text-field>
      </v-toolbar>
      <main>
        <v-content>
          <v-container fluid class="ma-4">
              {{ yield }}
            </v-container>
        </v-content>
      </main>
      <v-footer>
        <div class="text-xs-right">© 2016</div>
      </v-footer>
    </v-app>
    <script src="/js/moment.min.js"></script>
    <script src="/js/Chart.bundle.min.js"></script>
    {{#if extra_js }}
    <script src="/js/{{extra_js}}"></script>
    {{else}}
    <script src="/js/default_app.js"></script>
    {{/if}}
    <script>document.getElementById("search_btn").onclick = () => {document.location = "/search";};</script>
</body>
</html>