<v-layout row wrap>
    <h5>${report.product} ${report.version} [${report.signature}]</h5>
</v-layout>
<v-divider></v-divider>
<section>
    <v-tabs id="mobile-tabs-7"  class="elevation-5" left light>
        <v-tabs-bar slot="activators">
            <v-tabs-slider></v-tabs-slider>
            <v-tabs-item href="#details">
                Details
            </v-tabs-item>
            <v-tabs-item href="#modules">
                Modules
            </v-tabs-item>
        </v-tabs-bar>
        <v-tabs-content id="details">
            <v-card>
                <v-card-text>
                    <section fluid>
                        <v-layout row wrap>
                            <v-flex xl5>
                                <v-table-overflow>
                                    <table class="table table--component elevation-0">
                                        <thead>
                                            <tr>
                                                <th class="text-xl-left col md2">Crash ID:</th>
                                                <td>${report.uuid}</td>
                                            </tr>
                                            <tr>
                                                <th class="text-xl-left col md2">Signature:</th>
                                                <td>${report.signature}</td>
                                            </tr>
                                            <tr>
                                                <th class="text-xl-left col md2">Date Processed:</th>
                                                <td>${report.date_processed}</td>
                                            </tr>
                                            <tr>
                                                <th class="text-xl-left col md2">Product:</th>
                                                <td>${report.product}</td>
                                            </tr>
                                            <tr>
                                                <th class="text-xl-left col md2">Version:</th>
                                                <td>${report.version}</td>
                                            </tr>
                                            <tr>
                                                <th class="text-xl-left col md2">OS:</th>
                                                <td>${report.os}</td>
                                            </tr>
                                            <tr>
                                                <th class="text-xl-left col md2">OS Version:</th>
                                                <td>${report.os_version}</td>
                                            </tr>
                                            <tr>
                                                <th class="text-xl-left col md2">Build Architecture:</th>
                                                <td>${report.architecture}</td>
                                            </tr>
                                            <tr>
                                                <th class="text-xl-left col md2">Crash Address:</th>
                                                <td>${report.address}</td>
                                            </tr>
                                        </thead>
                                    </table>
                                </v-table-overflow>
                            </v-flex>
                            <v-flex xl5>
                                <v-btn dark default id="download_raw_dump_button">Download Raw Dump</v-btn>
                            </v-flex>
                        </v-layout>
                    </section>
                </v-card-text>
            </v-card>
        </v-tabs-content>
        <v-tabs-content id="modules">
            <section fluid>
                <v-layout row wrap>
                    <v-flex xl8>
                        <v-data-table v-bind:headers="modules_headers" v-bind:items="modules_items" hide-actions class="elevation-0" id="modules_table">
                            <template slot="items" scope="props">
                                <td>${ props.item.filename }</td>
                                <td>${ props.item.version }</td>
                                <td>${ props.item.debug_identifier }</td>
                                <td>${ props.item.debug_filename }</td>
                            </template>
                        </v-data-table>
                    </v-flex>
                </v-layout>
            </section>
        </v-tabs-content>
    </v-tabs>
</section>
<section fluid class="mt-4 elevation-5">
    <v-subheader>Trace</v-subheader>
    <v-card slot="header" v-for="(item,i) in stack_trace" :key="i">
        <v-card-text>
            ${item.display_name}
            <template v-if="item.show_file">( ${item.file}:${item.line} )</template>
        </v-card-text>
    </v-card>
</section>
<script>
    let crashID = "{{crashID}}";
</script>