<v-row>
    <v-card class="grey lighten-4 elevation-3">
        <v-card-text>
        <v-container fluid>
        <v-row>
        <v-col xs12 sm6>
            <v-subheader v-text="'Multiple (Chips) with persistent hint'" />
            </v-col>
            <v-col xs12 sm6>
            <v-select
                label="Select"
                multiple
                chips
                light
                hint="What are the target regions"
                persistent-hint
            />
            </v-col>
        </v-row>
        </v-container>
        </v-card-text>
    </v-card>
</v-row>